* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url("Images/ModernLibrary.jpg") no-repeat center center;
        background-size: cover;
        z-index: -1;
        filter: brightness(0.4);
    }

h1 {
    font-family: cursive;
    font-size: 60px;
    color: yellow;
    text-align: center;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    animation: fadeIn 2s ease-in-out, floating 5s ease-in-out infinite;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}
